In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
columns = ['type', 'mean_1', 'stddev_1', 'mean_2', 'stddev_2', 'results', 'time']

added_cols = ['age', 'gender', 'smoker', 'background', 'date']

added_cols2 = ['condition', 'ID']

empty = pd.DataFrame(columns=columns+added_cols+added_cols2)

data_path = 'C:/Users/samue/Downloads/variance_version/'

id = 1

# Go through condition folders
for cond in os.listdir(data_path):
    condition_path = os.path.join(data_path, cond)

    for p in os.listdir(condition_path):
        # Get path to file
        path_to_txt = os.path.join(condition_path, p)

        # Read tsv
        temp = pd.read_csv(path_to_txt, sep='\t')

        # Make cols lowercase
        temp.columns = [col.lower() for col in temp.columns]

        # Remove (s) from time variable
        temp['time'] = [float(s.replace('(s)', '')) for s in temp['time']]

        # Id added_cols not in columns, add NAN
        if len(added_cols) != len(set(added_cols).intersection(set(temp.columns))):
            temp[added_cols] = np.nan

        # Add condition, experiment and ID
        temp['condition'] = cond
        temp['ID'] = id

        id += 1

        # Concat and reset index
        empty = pd.concat([empty, temp], axis = 0)
        empty.reset_index(inplace=True, drop=True)

In [5]:
empty

,type,mean_1,stddev_1,mean_2,stddev_2,results,time,age,gender,smoker,background,date,condition,ID
0,Experimental,8,3.00,9,1.00,5,3.288,19,gender_male,smoker_no,Undergraduate (High School Graduate),2014-11-07,S1,1
1,Control,7,0.40,9,0.40,1,5.187,19,gender_male,smoker_no,Undergraduate (High School Graduate),2014-11-07,S1,1
2,Experimental,7,0.40,9,1.00,5,9.107,19,gender_male,smoker_no,Undergraduate (High School Graduate),2014-11-07,S1,1
3,Experimental,8,0.40,8,1.00,4,6.344,19,gender_male,smoker_no,Undergraduate (High School Graduate),2014-11-07,S1,1
4,Diversion,7,1.00,7,3.00,5,3.797,19,gender_male,smoker_no,Undergraduate (High School Graduate),2014-11-07,S1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2236,Experimental,9,5.00,7,1.35,2,9.998,19,gender_female,smoker_no,Enviromental Engineering,2014-11-21,S2,83
2237,Control,7,1.35,7,1.35,4,10.005,19,gender_female,smoker_no,Enviromental Engineering,2014-11-21,S2,83
2238,Experimental,7,5.00,8,1.35,1,9.426,19,gender_female,smoker_no,Enviromental Engineering,2014-11-21,S2,83
2239,Experimental,7,0.50,9,1.35,4,10.500,19,gender_female,smoker_no,Enviromental Engineering,2014-11-21,S2,83
2240,Control,8,1.35,9,1.35,2,7.668,19,gender_female,smoker_no,Enviromental Engineering,2014-11-21,S2,83

In [6]:
empty.to_csv('data_combined_var.csv', index=False)